* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  font-size: 16px;
  line-height: 1.5;
}
.mainLayout {
  height: 100vh;
}
.mainSider {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  width: 250px !important;
}
.ant-layout-sider,
.ant-menu,
.ant-menu-sub.ant-menu-inline {
  background-color: #343a40;
  color: #c2c7d0;
}
.ant-menu-item a {
  color: #c2c7d0;
}

.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: #1890ff;
}

.ant-menu-inline {
  border-right: none;
}
.ant-layout-header {
  background-color: #fff;
  color: #1f2d3d;
  border-bottom: 1px solid #dee2e6;
  line-height: 1;
  padding: 0.6rem 1.5rem;
  display: flex;
  align-items: center;
  height: auto;
}
.ant-menu-item {
  font-size: 1rem;
}
.ant-menu-submenu-arrow {
  color: inherit;
}
.ant-layout-content{
  padding: 0.6rem 1.5rem;
}
.brand__link {
  border-bottom: 1px solid #4b545c;
  /* line-height: 59px; */
  padding: 0.8125rem 0.5rem;
}
.brand__link img {
  float: left;
  line-height: 0.8;
  margin-left: 0.8rem;
  margin-right: 0.5rem;
  margin-top: -3px;
  width: 2.1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
  border-radius: 50%;
}
.brand__link .brand-text {
  font-weight: 300 !important;
  font-size: 16px;
}
.user-panel {
  margin: 1rem 0;
  border-bottom: 1px solid #4f5962;
  padding-left: 0.5rem;
  padding-bottom: 1rem;
}
.user-panel .image {
  display: inline-block;
}
.user-panel img {
  margin-left: 0.8rem;
  width: 2.1rem;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}
.user-panel .info {
  display: inline-block;
  padding: 5px 5px 5px 10px;
}
.info a {
  color: #c2c7d0;
  text-decoration: none;
}
.userSection {
  margin:1rem 0;
  border-right: none;
  padding-bottom: 1rem;
  border-bottom: 1px solid #4f5962;
}
.userSection .user-panel{
  margin:inherit;
  line-height: 1rem;
  
}
.userSection .user-panel img {
  margin-left: 0;
  width: 2.1rem;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23) !important;
}
.userSection .ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover{
 color: #c2c7d0;
}
.userSection .ant-menu-item:active, .ant-menu-submenu-title:active{
  background: none;
}
.breadcrumb__path {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.breadcrumb__path .content__title{
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.ant-layout-footer {
  border-top: 1px solid #dee2e6;
  background-color: #fff;
  padding: 0.8125rem 1.5rem;
}
.ant-layout-content {
  padding: 0 1.5rem 0.5rem 1.5rem;
}
.nav-icon {
  font-size: 1.1rem;
  margin-right: 5px;
}


.login{
  width: 100%;
}
.login .login__left{
  width: 100%;
  
  background-image: url('https://picsum.photos/1200');
  background-size: cover;
  background-position: center;
  height:100vh;
}
.login .login__right{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login__right form{
  width: 80%;
  margin: 0 auto;
}

.spinner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.MuiTable-root p{
  margin-bottom: 0;
}

.card-body{
  padding: 5px 10px;
}
#root{
  height: 100vh;
}

.main-header{
  z-index: 1;
}
.ant-menu{
  font-size: 1rem;
}
.ant-menu-item .ant-menu-item-icon, .ant-menu-submenu-title .ant-menu-item-icon, .ant-menu-item .anticon, .ant-menu-submenu-title .anticon{
  font-size: 1.1rem;
  margin-right: 5px;
}
.ant-drawer-content-wrapper{
  width: 50%!important;
}
.ant-drawer-body{
  padding: 10px 0;
}
@media (max-width: 767.98px) {
  .ant-drawer-content-wrapper{
    width: 70%!important;
  }
}
@media (max-width: 667px) {
  .ant-drawer-content-wrapper{
    width: 80%!important;
  }

}

@media (max-width: 576px) {

  .login__left{
    display: none;
  }
  .login__right form{
    width: 90%;
    
  }
}
